* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    color: black;
    font-family: Arial, Helvetica, sans-serif;

}

ul {
    list-style: none;
    font-style: italic;
    
}

a {
    text-decoration: none;
    font-weight: 500px;
}

body {
    /*background: url(/imagem/pexels-mahdi-bafande-14395900.jpg) no-repeat center center fixed;
    background-size: cover;*/

    background: linear-gradient(90deg,#2980B9,#6DD5FA,#FFFFFF);
}
.container {
    text-align: center;
    
}
.container .name h1{
    font-size: 60px;
}
.container .name h5{
    font-size: 50px;
}

#about p{
    max-width: 600px;
    margin: 0 auto;
}

.form{
    width: 40%;
    margin: 0 auto;
}

.form input{
    width: 30%;
}

.form button{
    width: 15%;
}